@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic|Open+Sans+Condensed:700");
* {
    scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

mark {
    background-color: transparent;
    color: inherit;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input,
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

/* Basic */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #525352;
}

body.is-preload *,
body.is-preload *:before,
body.is-preload *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

body,
input,
textarea,
select {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #d2b48c;
    font-size: 13pt;
    line-height: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #6b7770;
    margin: 0 0 0.5em 0;
    line-height: 1.3;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 1.65em;
}

h2.major {
    position: relative;
    border-top: solid 5px #d2b48c;
    font-size: 1.65em;
    text-align: center;
    margin: 0 0 3em 0;
    top: 0.775em;
}

h2.major span {
    background: #fff;
    position: relative;
    display: inline-block;
    top: -0.775em;
    padding: 0 1.25em 0 1.25em;
}

h3,
h4 {
    font-size: 1.25em;
}

a {
    color: #006376;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

b,
strong {
    font-weight: 700;
    color: #6b7770;
}

i,
em {
    font-style: italic;
}

br.clear {
    clear: both;
}

sub {
    position: relative;
    top: 0.5em;
    font-size: 0.8em;
}

sup {
    position: relative;
    top: -0.5em;
    font-size: 0.8em;
}

hr {
    border: 0;
    border-top: solid 2px #e7eae8;
    margin: 0 0 3em 0;
}

blockquote {
    border-left: solid 5px #e7eae8;
    padding: 1em 0 1em 1.5em;
    font-style: italic;
}

p,
ul,
ol,
dl,
table {
    margin-bottom: 3em;
}

/* Section/Article */

.box.highlight {
    text-align: center;
}

.box.highlight ul.special {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.box.highlight ul.special li {
    margin: 10px; /* Memberikan jarak antara gambar */
    width: calc(33.33% - 20px);
}

.box.highlight ul.special li a {
    display: block;
}

.box.highlight ul.special li a img {
    border-radius: 50%; /* Membuat gambar bulat */
    width: 300px; /* Mengatur ukuran gambar */
    height: 300px; /* Mengatur ukuran gambar */
    object-fit: cover; /* Memastikan gambar tidak menjadi oval jika rasio aspeknya berbeda */
}

header > p {
    display: block;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #b6c0ba;
}

/* Image */

.image {
    position: relative;
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
}

.image img {
    display: block;
    width: 100%;
    height: auto;
}

.image:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #525352;
    border-radius: 8px;
}

.image.fit {
    display: block;
    width: 100%;
}

.image.featured {
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
}

.image.left {
    float: left;
    margin: 0 2em 2em 0;
}

.image.centered {
    display: block;
    margin: 0 0 2em 0;
}

.image.centered img {
    margin: 0 auto;
    width: auto;
}

/* Button */

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
    -webkit-appearance: none;
    display: inline-block;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 1000;
    text-transform: uppercase;
    text-decoration: none;
    background: #a3703d;
    color: #252222;
    border: 0;
    line-height: 1em;
    border-radius: 8px;
    outline: 0;
    cursor: pointer;
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    font-size: 1.25em;
    padding: 0.85em 0.85em;
    text-align: center;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
    background: #8d7960;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active,
.button:active {
    background: #d2b48c;
}

input[type="button"].alt,
input[type="submit"].alt,
input[type="reset"].alt,
button.alt,
.button.alt {
    background: #d2b48c;
}

input[type="button"].alt:hover,
input[type="submit"].alt:hover,
input[type="reset"].alt:hover,
button.alt:hover,
.button.alt:hover {
    background: #d2b48c;
}

input[type="button"].alt:active,
input[type="submit"].alt:active,
input[type="reset"].alt:active,
button.alt:active,
.button.alt:active {
    background: #d2b48c;
}

input[type="button"].large,
input[type="submit"].large,
input[type="reset"].large,
button.large,
.button.large {
    font-size: 1.65em;
}

/* Special */

ul.special {
    list-style: none;
    padding-left: 0;
    cursor: default;
    position: relative;
    margin: -2em 0 4em -2em;
}

ul.special li {
    -moz-transition: top 0.15s ease-in-out;
    -webkit-transition: top 0.15s ease-in-out;
    -ms-transition: top 0.15s ease-in-out;
    transition: top 0.15s ease-in-out;
    position: relative;
    display: inline-block;
    top: 0;
    padding: 2em 0 0 2em;
}

ul.special li a {
    display: block;
    outline: 0;
}

ul.special li a:before {
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    display: block;
    text-align: center;
    background: #d2b48c;
    border-radius: 100%;
    width: 2.25em;
    height: 2.25em;
    line-height: 2.175em;
    font-size: 5em;
    color: #d2b48c;
}

ul.special li:hover {
    top: -1em;
}

/* Menu */

ul.menu {
    list-style: none;
    padding-left: 0;
}

ul.menu li {
    border-left: solid 1px #d2b48c;
    display: inline-block;
    padding: 0 0 0 0.75em;
    margin: 0 0 0 0.75em;
}

ul.menu li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}

/* Forms */

form label {
    display: block;
    margin: 0 0 1em 0;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    /* color: #2c332f; */
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select,
form textarea {
    -webkit-appearance: none;
    display: block;
    width: 100%;
    border-radius: 8px;
    border: solid 2px #d2b48c;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form select:focus,
form textarea:focus {
    border-color: #d2b48c;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select {
    line-height: 3em;
    padding: 0 1em;
}

form textarea {
    min-height: 9em;
    padding: 1em;
}

form ::-webkit-input-placeholder {
    color: #555 !important;
}

form :-moz-placeholder {
    color: #555 !important;
}

form ::-moz-placeholder {
    color: #555 !important;
}

form :-ms-input-placeholder {
    color: #555 !important;
}

form ::-moz-focus-inner {
    border: 0;
}

/* Box */

.box {
    font-size: 1.5em; /* Mengatur ukuran font secara keseluruhan untuk kotak */
}

.box.highlight h2,
.box.post h3,
.box.page-content h2 {
    font-size: 2.5em; /* Menyesuaikan ukuran font untuk judul h2 dan h3 di dalam kotak */
}

.box.highlight header > p,
.box.post header > p,
.box.page-content header > p {
    font-size: 1.5em; /* Menyesuaikan ukuran font untuk paragraf di dalam kotak */
}

.box.highlight {
    text-align: center; /* Membuat isi dari box menjadi berada di tengah */
}

.box.highlight .button {
    margin-top: 20px; /* Menambahkan ruang ke atas tombol "Login" */
    display: inline-block; /* Mengubah display menjadi inline-block */
    width: auto; /* Mengatur lebar sesuai konten */
    margin-left: 60px; /* Menggeser tombol ke kanan sedikit */
}

/* Header */

#header {
    text-align: center;
    font-size: 5em;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0, 5em 0;
    background: #d2b48c;
    margin: 0 auto;
}

#header .logo {
    position: relative;
    text-align: center;
    border-top: solid 5px #d2b48c;
    top: 0.65em;
}

#header .logo div {
    background: #d2b48c;
    position: relative;
    display: inline-block;
    padding: 0 1.5em 0 1.5em;
    top: -0.65em;
}

#header .logo h1 {
    display: inline;
}

#header .logo p {
    display: inline;
    color: #d2b48c;
}

/* Nav */

body {
    padding-top: 3.25em;
}

#nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #D2B48C(255, 255, 255, 0.95);
    width: 100%;
    height: 3.25em;
    line-height: 3.25em;
    text-align: center;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    cursor: default;
}

#nav ul {
    position: relative;
    z-index: 1001;
    background-color: #d2b48c;
}

#nav li {
    display: inline-block;
    margin: 0 0.5em 0 0.5em;
    top: 0;
    position: relative;
    -moz-transition: top 0.15s ease-in-out;
    -webkit-transition: top 0.15s ease-in-out;
    -o-transition: top 0.15s ease-in-out;
    -ms-transition: top 0.15s ease-in-out;
    transition: top 0.15s ease-in-out;
}

#nav li > ul {
    display: none;
}

#nav li a,
#nav li span {
    -moz-transition: background-color 0.075s ease-in-out,
        color 0.075s ease-in-out;
    -webkit-transition: background-color 0.075s ease-in-out,
        color 0.075s ease-in-out;
    -ms-transition: background-color 0.075s ease-in-out,
        color 0.075s ease-in-out;
    transition: background-color 0.075s ease-in-out, color 0.075s ease-in-out;
    position: relative;
    display: block;
    text-decoration: none;
    color: #6b7770;
    top: -6px;
    padding: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    outline: 0;
}

#nav li:hover,
#nav li.active {
    top: 3px;
}

#nav li:hover a,
#nav li:hover span {
    background: #e2ddce;
}

#nav li.active a,
#nav li.active span {
    background: #d2b48c;
    color: #d2b48c;
}

#nav li.current a {
    background: #ddd6ab;
    color: #fff;
}

.dropotron {
    list-style: none;
    background: #6b7770;
    color: #d2b48c;
    border-radius: 6px;
    line-height: 2.75em;
    text-align: center;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1em 0;
    text-align: left;
    min-width: 14em;
    margin-top: -1em;
    box-shadow: 0 1em 2em 0 rgba(0, 0, 0, 0.1);
}

.dropotron li {
    padding-left: 0;
}

.dropotron li > a,
.dropotron li > span {
    display: block;
    color: #d2b48c;
    text-decoration: none;
    padding: 0 1.25em;
}

.dropotron li:hover > a,
.dropotron li:hover > span {
    color: #d2b48c;
    background: #7b8780;
}

.dropotron li.active > a,
.dropotron li.active > span {
    color: #d2b48c;
    background: #7b8780;
}

.dropotron li:first-child {
    border-top: 0;
}

.dropotron.level-0 {
    margin-top: 1em;
    font-size: 0.9em;
}

.dropotron.level-0:before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -1em;
    top: -0.65em;
    border-bottom: solid 1em #6b7770;
    border-left: solid 1em transparent;
    border-right: solid 1em transparent;
}

/* Banner */

#banner {
    position: relative;
    background-image: url("../images/bgh2.jpg"), url("../images/highlight.png"),
        url("../images/putih.jpg");
    background-position: top left, top left, center center;
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover;
    z-index: 1;
    padding: 11em 0;
    height: 100vh;
    text-align: center; /* Added */
}

#banner .content {
    position: relative;
    background-color: rgba(29, 39, 32, 0.85);
    background-image: url("images/overlay.png"), url("images/highlight.png");
    background-position: top left, center center;
    background-size: auto, 100% 250%;
    background-repeat: repeat, no-repeat;
    text-align: center;
    margin: 0 auto; /* Removed */
    padding: 4em 0 3.5em 0;
}

#banner h2 {
    color: #324851;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#banner .content h2 {
    color: #d2b48c;
    font-size: 4em;
    /* margin: 0 0 0.5em 0; */
}

#banner p {
    color: #324851;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
}

#banner .content p {
    display: block;
    font-family: "Open Sans Condensed", sans-serif;
    /* font-weight: 500; */
    /* text-transform: uppercase; */
    color: #ffff;
    font-size: 1.35em;
    /* margin: 0 0 1.25em 0; */
}

#banner .content .button {
    -moz-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    color: #fff;
    background-color: #d2b48c; /* Background color */
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 1.5em;
    padding: 12px 24px;
    cursor: pointer;
}

#banner .content .button:hover {
    background-color: #c49c66; /* Darker background color on hover */
}

#banner .content .button:active {
    background-color: #b3864a; /* Even darker background color on click */
}

/* Main */

#main {
    background: #d2b48c;
    margin: 0 auto;
}

/* Sidebar + Content */

.sidebar h2.major {
    text-align: left;
    margin: 0 0 1.5em 0;
}

.sidebar h2.major span {
    padding-left: 0;
}

/* Footer */

#footer {
    text-align: center;
    padding: 8em 0 8em 0;
}

#footer a {
    color: inherit;
}

#footer h2.major {
    margin: 0 0 1.5em 0;
}

#footer h2.major span {
    background: #f2f5f3;
}

/* Large */

@media screen and (max-width: 1280px) {
    /* Basic */

    body,
    input,
    textarea,
    select {
        font-size: 11pt;
    }

    /* Special */

    ul.special li a:before {
        font-size: 60px;
    }

    /* Box */

    .box {
        font-size: 1.5em; /* Mengatur ukuran font secara keseluruhan untuk kotak */
    }

    .box.highlight h2,
    .box.post h3,
    .box.page-content h2 {
        font-size: 2.5em; /* Menyesuaikan ukuran font untuk judul h2 dan h3 di dalam kotak */
    }

    .box.highlight header > p,
    .box.post header > p,
    .box.page-content header > p {
        font-size: 1.5em; /* Menyesuaikan ukuran font untuk paragraf di dalam kotak */
    }

    /* Header */

    #header {
        font-size: 1.5em;
    }

    /* Banner */

    #banner {
        padding: 6em 0;
    }

    #banner .content {
        padding: 4em 0 3em 0;
    }

    #banner .content h2 {
        margin: 0 0 0.65em 0;
    }

    #banner .content p {
        margin: 0 0 1em 0;
    }

    /* Main */

    #main {
        border-top-width: 35px;
        border-bottom-width: 35px;
    }

    /* Footer */

    #footer {
        padding: 6em 0 6em 0;
    }
}

/* Medium */

#navPanel,
#titleBar {
    display: none;
}

@media screen and (max-width: 980px) {
    /* Basic */

    html,
    body {
        overflow-x: hidden;
    }

    /* Box */

    .box br {
        display: none;
    }

    /* Header */

    #header {
        display: none;
    }

    /* Banner */

    #banner {
        padding: calc(14em + 44px) 0 14em 0;
    }

    /* Nav */

    #nav {
        display: none;
    }

    /* Main */

    #main {
        border-top-width: 0;
    }

    /* Sidebar */

    .sidebar {
        border-top: solid 2px #e7eae8;
        padding-top: 50px;
    }

    /* Nav */

    body {
        padding-top: 44px;
    }

    body.homepage {
        padding-top: 0;
    }

    #page-wrapper {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        padding-bottom: 1px;
    }

    #titleBar {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        display: block;
        height: 44px;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10001;
        background-color: rgba(21, 38, 23, 0.8);
        background-image: url("images/overlay.png");
    }

    #titleBar .title {
        display: block;
        position: relative;
        font-family: "Open Sans Condensed", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.25em;
        line-height: 44px;
        color: #fff;
        z-index: 1000;
        text-align: center;
    }

    #titleBar .toggle {
        text-decoration: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 80px;
        height: 60px;
        z-index: 1001;
    }

    #titleBar .toggle:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        text-transform: none !important;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }

    #titleBar .toggle:before {
        display: inline-block;
        text-decoration: none;
        position: absolute;
        left: 0;
        top: 0;
        background: #d2b48c;
        width: 44px;
        height: 44px;
        content: "\f0c9";
        color: #fff;
        text-align: center;
        line-height: 44px;
        font-size: 20px;
    }

    #titleBar .toggle:active:before {
        background-color: #212920;
    }

    #navPanel {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transform: translateX(-275px);
        -webkit-transform: translateX(-275px);
        -ms-transform: translateX(-275px);
        transform: translateX(-275px);
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        display: block;
        height: 100%;
        left: 0;
        overflow-y: auto;
        position: fixed;
        top: 0;
        width: 275px;
        z-index: 10002;
        background-color: #353c37;
        background-image: url("images/overlay.png"),
            -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
        background-image: url("images/overlay.png"),
            -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
        background-image: url("images/overlay.png"),
            -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
        background-image: url("images/overlay.png"),
            linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
        background-repeat: repeat, no-repeat;
        background-size: auto, 100% 100%;
        font-family: "Open Sans Condensed", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.25em;
        box-shadow: inset -3px 0px 10px 0px rgba(0, 0, 0, 0.25);
    }

    #navPanel nav {
        position: relative;
        z-index: 1000;
    }

    #navPanel .link {
        display: block;
        color: inherit;
        text-decoration: none;
        height: 44px;
        line-height: 44px;
        padding: 0 1em 0 1em;
        color: #888;
        color: rgba(255, 255, 255, 0.5);
        border-top: solid 2px rgba(87, 93, 89, 0.15);
        font-size: 0.8em;
    }

    #navPanel .link:first-child {
        border-top: 0;
    }

    #navPanel .indent-1 {
        display: inline-block;
        width: 1em;
    }

    #navPanel .indent-2 {
        display: inline-block;
        width: 2em;
    }

    #navPanel .indent-3 {
        display: inline-block;
        width: 3em;
    }

    #navPanel .indent-4 {
        display: inline-block;
        width: 4em;
    }

    #navPanel .indent-5 {
        display: inline-block;
        width: 5em;
    }

    #navPanel .depth-0 {
        color: #fff;
    }

    body.navPanel-visible #page-wrapper {
        -moz-transform: translateX(275px);
        -webkit-transform: translateX(275px);
        -ms-transform: translateX(275px);
        transform: translateX(275px);
    }

    body.navPanel-visible #titleBar {
        -moz-transform: translateX(275px);
        -webkit-transform: translateX(275px);
        -ms-transform: translateX(275px);
        transform: translateX(275px);
    }

    body.navPanel-visible #navPanel {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

/* Small */

@media screen and (max-width: 736px) {
    /* Basic */

    body,
    input,
    textarea,
    select {
        font-size: 11pt;
    }

    h2 {
        font-size: 1.25em;
    }

    h2.major {
        font-size: 1.25em;
        margin: 0 0 2em 0;
    }

    h2.major span {
        padding: 0 1em;
    }

    /* Section/Article */

    section,
    article {
        margin-bottom: 2em;
    }

    /* Button */

    input[type="button"],
    input[type="submit"],
    input[type="reset"],
    button,
    .button {
        display: block;
        width: 100%;
    }

    input[type="button"].large,
    input[type="submit"].large,
    input[type="reset"].large,
    button.large,
    .button.large {
        font-size: 1.25em;
    }

    /* Actions */

    ul.actions li {
        display: block;
        margin: 1em 0 0 0;
    }

    ul.actions li:first-child {
        margin-top: 0;
    }

    /* Special */

    ul.special {
        margin: -0.75em 0 2em -0.75em;
    }

    ul.special li {
        padding: 0.75em 0 0 0.75em;
    }

    ul.special li a:before {
        font-size: 28px;
    }

    /* Box */

    .box {
        font-size: 1.5em; /* Mengatur ukuran font secara keseluruhan untuk kotak */
    }

    .box.highlight h2,
    .box.post h3,
    .box.page-content h2 {
        font-size: 2.5em; /* Menyesuaikan ukuran font untuk judul h2 dan h3 di dalam kotak */
    }

    .box.highlight header > p,
    .box.post header > p,
    .box.page-content header > p {
        font-size: 1.5em; /* Menyesuaikan ukuran font untuk paragraf di dalam kotak */
    }

    /* Banner */

    #banner {
        padding: calc(6em + 44px) 0 6em 0;
    }

    #banner .content {
        padding: 4em 2.5em 3em 2.5em;
    }

    #banner .content h2 {
        font-size: 2em;
    }

    #banner .content p {
        font-size: 1.25em;
    }

    /* Main */

    #main {
        padding: 3em 0;
    }

    /* Sidebar */

    .sidebar {
        border-top: solid 2px #eaeae7;
        padding-top: 50px;
        margin-top: 30px;
    }

    /* Footer */

    #footer {
        padding: 3em 0;
    }
}

/* Small */

@media screen and (max-width: 360px) {
    /* Basic */

    body,
    input,
    textarea,
    select {
        font-size: 10pt;
    }
}

/* Peta */
body {
    background-color: #d2b48c;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.image-container img {
    width: 100%;
    height: 100%;
    background-image: url("images/"); /* Path gambar */
    background-size: cover; /* Atur ukuran gambar */
    background-position: center; /* Atur posisi gambar */
    opacity: 0.7; /* Atur tingkat transparansi */
}

.hidden {
    display: none;
}

/* Hal selanjutnya */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 50px; */
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-size: 100px;
    color: #d2b48c;
    margin-bottom: 20px;
}

.card p {
    text-align: center;
    font-size: 30px;
    color: #7c6423;
}

/* Search */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 80px; */
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.search-container input[type="text"] {
    border: 5px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    font-size: 20px;
    width: 300px;
}

.search-container button {
    background-color: #a58f71;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 20px 80px;
    font-size: 20px;
    cursor: pointer;
}

.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.filter-btn {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 35px;
}

/* Login */
body {
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    width: 600px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 5px;
}

label {
    display: block;
    margin-top: 50px;
    font-size: 30px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    border: 5px solid #d2b48c;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #b69468;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#login-section {
    background-color: #d2b48c;
    width: 100vw;
    height: 100vh;
    background-image: url("/images/peta.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 100%;
    object-fit: cover;
}

#login-section {
    background-color: #d2b48c;
    width: 100vw;
    height: 100vh;
    background-image: url("/images/peta.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-section h2 {
    color: #324851;
    font-size: 2rem;
}

#login-section p {
    color: #324851;
    font-size: 1rem;
}

#login-form .form-label {
    display: block;
    color: #324851;
    /* margin-top: 20px; */
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-bottom: 0;
}

#login-form {
    max-width: 100vw;
    margin: 0 auto;
    padding: 0 20px;
}

#login-form input[type="text"],
#login-form input[type="password"],
#login-form input[type="submit"] {
    width: calc(100% - 30px); /* Adjusted width to accommodate padding */
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
}

#login-form input[type="submit"] {
    background-color: #324851;
    padding: 15px;
    color: #f7f1de;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#login-form input[type="submit"]:hover {
    background-color: #1e2b36;
}

/* Signup */
form {
    width: 600px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 5px;
}

/* label {
  display: block;
  margin-top: 50px;
  font-size: 30px;
} */

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #d2b48c;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #b69468;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#signup-section {
    width: 100vw;
    height: 100vh;
    background-image: url("/images/peta.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 120%;
    object-fit: cover;
}

/* CSS baru untuk mengatur tulisan di bawah gambar */
.special .label {
    display: block;
    text-align: center;
    margin-top: 5px; /* Jarak antara gambar dan teks */
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold; /* Membuat teks menjadi lebih tebal */
    color: black; /* Warna teks */
}

/* CSS untuk Tampilan Beranda */
#hero-section {
    background-image: url("../images/beranda.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}

#hero-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

#hero-section p {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

/* Efek hover pada tombol aksi */
.action-button {
    background-color: #4caf50; /* Warna latar belakang */
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #45a049; /* Warna latar belakang saat hover */
}

/* Styling untuk menu navigasi */
#nav {
    text-align: center;
    margin-bottom: 30px;
}

#nav ul {
    list-style: none;
    padding: 0;
}

#nav ul li {
    display: inline-block;
    margin-right: 20px;
}

#nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

#nav ul li a:hover {
    color: #111311; /* Warna teks saat hover */
}

/* Styling untuk kotak highlight */
#box {
    margin-top: 50px;
}

.special {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-adat {
    margin: 10px;
    text-align: center;
}

.list-adat img {
    max-width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.list-adat img:hover {
    transform: scale(1.1); /* Memperbesar gambar saat hover */
}

#nav h1 a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

/* Dropdown menu styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
